@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Hina+Mincho&display=swap');
/* ===============================================
# ブレークポイント
=============================================== */
$layout-width-inner:1024px;

$breakpoints: (
    'sp': 'screen and (max-width: 767px)', //スマホ用の表示
    'tab': 'screen and (min-width: 768px) and (max-width: #{$layout-width-inner - 1px})', //タブレット用の表示
    'pc': 'screen and (min-width: #{$layout-width-inner})'//pc用の表示
  ) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* ===============================================
# color font
=============================================== */
$key-color: #F3F3F3;
$font-color: #333;

$font-en:'Cormorant Garamond', serif;
$font-ja:"游明朝体","Yu Mincho",'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HiraMinProN-W3',"HGS明朝E",'ＭＳ 明朝','MS Mincho',serif;
$font-name:'Hina Mincho',serif;

/* ===============================================
# 全体に共通するスタイル
=============================================== */
@include mq(sp){
    .is-pc{
      display: none;
    }
  }
  
  @include mq(pc){
    .is-sp{
      display: none;
    }
  }

  @include mq(tab){
      .is-sp{
          display: none;
      }
      .is-pc{
        display: none;
      }
  }

  body{
    font-size: 18px;
    color: $font-color;
    font-family: $font-ja;
    background: $key-color;
    background: #f3f3f3;
  }

  img{
      width: 100%;
      max-width: 100%;
  }

  .inner{
      max-width: 1080px;
      margin: 0 auto;
      padding: 0 40px;
      width: 100%;
      @include mq(sp){
        padding: 0 18px;
      }
   }

   a{
       color: $font-color;
   }

   .section{
    width: 100%;
   }

   .section-title1{
    font-size: 28px;
    font-family: $font-name;
    letter-spacing: 0.1em;
    position: absolute;
    top: 0;
    right: 0;

    @include mq(tab){
      font-size: 24px;
    }

    @include mq(sp){
      font-size: 20px;
    }
   }

   .section__container1{
    padding-top: 40px;
   }

   .section-title2{
    text-align: center;
    font-family: $font-name;
    font-size: 30px;  

    position: relative;
    transition: all 0.5s ease 0s;

    &::after{
      content: '';
      position: absolute;
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 2px;
      background: #f3f3f3;
    }


    @include mq(sp){
      font-size: 20px;

      &::after{
        width: 24px;
        bottom: -12px;
        height: 1.5px;
      }
    }
   }

   /* ===============================================
   # header
   =============================================== */
   .header{
    height: 60px;
    background: $key-color;
    color: $font-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 1px 10px rgba($color: $font-color, $alpha: 0.5);

    @include mq(sp){
      height: 40px;
    }
  }

   .header__inner{
    display: flex;
   }

   .header__logo{
    font-size: 28px;
    font-family: $font-ja;
    line-height: 60px;
    letter-spacing: 0.2em;

    @include mq(tab){
      font-size: 24px;
      line-height: 60px;
    }

    @include mq(sp){
      font-size: 18px;
      line-height: 40px;
    }
   }

   .header__nav{
    margin-left: auto;
    display: flex;

    @include mq(sp){
      display: none;
    }
   }

   .header__nav__item{
     &:not(:first-child){
       margin-left: 30px;
     }

    a{
        line-height: 60px;
        letter-spacing: 0.25em;
        font-size: 14px;
        padding: 30px 0;

        position: relative;
        transition: all 0.5s ease 0s;

        &::after{
          content: '';
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translateX(-55%);
          width: 40px;
          height: 1.5px;
          background: transparent;
          transition: all 0.5s ease 0s;
        }

        &:hover,
        &.is-active{
          font-weight: 600;
          &::after{
            background: $font-color;
          }
        }
    }
   }
/* ===============================================
# main top
=============================================== */
.main{
  margin-top: 60px;

  @include mq(sp){
    margin-top: 40px;
  }
}


   .top{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding-top: 100px;
    padding-bottom: 50px;
    max-width: 500px;
    height: 580px;
    margin: 0 auto;

    @include mq(sp){
      max-width: 260px;
      padding-top: 30px;
      padding-bottom: 15px;
      height: 320px;
    }
   }


   .name__item{
    &:not(:first-child){
        margin-right: 250px;

        @include mq(sp){
          margin-right: 100px;
        }
    }
   }

   .profession{
    font-family: $font-en;
    font-weight: 600;
    font-size: 26px;
    opacity: 0.8;
    margin-left: 20px;
    letter-spacing: 0.08em;

    @include mq(sp){
      font-size: 16px;
      margin-left: 8px;
    }
   }

   .name{
    font-family: $font-name;
    font-size: 38px;
    letter-spacing: 0.2em;

    @include mq(sp){
      font-size: 26px;
    }
   }

/* ===============================================
# effort
=============================================== */
.effort{
    font-size: 16px;
    max-width: 800px;
    padding-top: 50px;
    
    @include mq(pc){
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;   
    }

    @include mq(tab){
      font-size: 14px;
      max-width: 700px;
      
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl; 
    }

    @include mq(sp){
      font-size:12px;
      max-width: 280px;
      padding-top: 15px;
    }
}

.effort__container{
    padding-right: 50px;
    height: 450px;
    position: relative;

    @include mq(tab){
      padding-right: 46px;
    }

    @include mq(sp){
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      padding-right: 30px; 
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
      height: 350px;
    }

    &:not(:first-child){
      margin-right: 80px;

      @include mq(tab){
        margin-right: 55px;
      }

      @include mq(sp){
        margin-top: 30px;
      }
    }
}

.effort__text{
    margin-left: 17px;
    line-height: 2em;
    text-orientation: upright;
    letter-spacing: 0.2em;

    @include mq(tab){
      margin-left: 15px;
    }

    @include mq(sp){
      margin-left: 12px;
    }

    span{
        font-weight: 600;
        font-size: 20px;
        @include mq(tab){
          font-size: 18px;
        }
        @include mq(sp){
          font-size: 14px;
        }
    }
}


/* ===============================================
# skill
=============================================== */
.skill{
  margin-top: 60px;
  background: #333;
  color: #F3F3F3;

  @include mq(sp){
    margin-top: 30px;
  }
}

.skill__inner{
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1080px;

  @include mq(sp){
    padding: 25px 90px 30px;
  }
}


.skill__items{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;

  @include mq(sp){
    margin-top: 40px;
  }
}

.skill__item{
  width:calc(33.3% - (45px*2/3));
  padding: 30px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba($color: #f3f3f3, $alpha: 0.5);

  @include mq('pc'){
    &:not(:nth-child(3n + 1)){
      margin-left: 45px;
    }
  
    &:nth-child(n+4){
      margin-top: 24px;
    }
  }
  
    @include mq('tab'){
      width:calc(50% - (50px*1/2));
  
      &:not(:nth-child(2n + 1)){
        margin-left: 50px;
      }
      
      &:nth-child(n+3){
        margin-top: 40px;
      } 
     }
  
     @include mq('sp'){
      width: 100%;
      margin-left: 0;
      padding: 15px;
  
      &:nth-child(n+2){
        margin-top: 20px;
      } 
  
    }  
}

.skill__img{
  text-align: center;
  i{
    font-size: 70px;

    @include mq(sp){
      font-size: 50px;
    }
  }
}

.skill__title{
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 0.1em;
  @include mq(sp){
    font-size: 14px;
    margin-top: 20px;
  }
}

.skill__text{
  font-weight: 500;
  font-size: 14px;
  margin-top: 25px;
  line-height: (28/16);

  @include mq(sp){
    font-size: 10px;
    margin-top: 20px;
  }
}

/* ===============================================
# portforio
=============================================== */
.portforio{
  margin-top: 40px;

  @include mq(sp){
    margin-top: 25px;
  }
}

.portforio__head{
  &::after{
    background: #333;
  }
}

.portforio__inner{
  padding-top: 30px;
  padding-bottom: 60px;
  max-width: 780px;

  @include mq(sp){
    padding: 0 70px 35px;
  }
}


.portforio__items{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  @include mq('sp'){
    margin-top: 40px;
  }
}

.portforio__item{
  display: block;
  background: #f3f3f3;
  padding: 15px 50px;
  border-radius:7px;
  box-shadow: 0 5px 10px rgba($color: #333, $alpha: 0.8);


  @include mq(pc){
    width:calc(50% - (70px*1/2));
    transition: opacity .5s;

    &:not(:nth-child(2n + 1)){
      margin-left:70px;
    }
    
    &:nth-child(n+3){
      margin-top: 70px;
    } 

    &:hover{
      opacity: 0.7;
      .portforio__img>img{
        transform: scale(1.1);
      }
    }    
  }

@include mq(tab){
  width:calc(50% - (40px*1/2));
  padding: 20px 25px 23px;
  transition: opacity .5s;

  &:hover{
    opacity: 0.7;
    .portforio__img>img{
      transform: scale(1.1);
    }
  }    

  &:not(:nth-child(2n + 1)){
    margin-left:40px;
  }
  
  &:nth-child(n+3){
    margin-top: 50px;
  } 
}

   @include mq('sp'){
    width: 100%;
    margin-left: 0;
    padding: 25px 20px;

    &:nth-child(n+2){
      margin-top: 20px;
    } 

  }
}

.portforio__img{
  border-radius: 8px;
  overflow: hidden;

  >img{
    @include mq(pc){
      transition: transform .5s;   
    }
    @include mq(tab){
      transition: transform .5s;   
    }
  }
}

.portforio__table{
  margin-top: 15px;
  border-collapse: collapse;
  border: none;
  background: #f3f3f3;
  width: 100%;
  table-layout: fixed;
  text-align-last: left;
  @include mq(sp){
    margin-top: 10px;
  }
  th,
  td{
    border: none;
    font-size: 12px;
    padding: 3px 0;
    font-weight: 600;

    @include mq(sp){
      font-size: 10px;
      padding: 2px 0;
    }
  }
}

.table__head{
  width: 75px;

  @include mq(sp){
    width: 55px;
  }
}

.table__partition{
  width: 12px;
  @include mq(sp){
    width:10px;
  }
}

.table__text{
  line-height: (22/16);
}

.portforio__descriprion{
  margin-top: 15px;
  line-height: (20/16);
  font-size: 12px;
  @include mq(sp){
    margin-top: 10px;
    font-size: 10px;
  }
}

.coming__item{
  cursor: default;

  &:hover{
    opacity: 1;
  }
}

.coming{
  text-align: center;
  font-size: 28px;
  padding-top: 90px;
  line-height: 1.3em;
  font-family: $font-en;

  @include mq(sp){
    font-size: 22px;
    padding-top: 60px;
  }
}

.coming__text{
  margin-top: 60px;
  text-align: right;
  font-size: 10px;

  @include mq(sp){
    font-size: 8px;
  }
}

/* ===============================================
# price
=============================================== */
.price{
  background: $font-color;
  color: $key-color;
}

.price__inner{
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 780px;

  @include mq(sp){
    padding-top: 30px;
    padding-bottom:30px;
  }
}


.price__content{
  margin-top: 40px;
  @include mq(sp){
    margin-top: 28px;
  }
}

.table__title{
  text-align: center;
  font-size: 20px;

  @include mq(sp){
    font-size: 14px;
  }
}

.price__table{
  margin-top: 20px;
  border-collapse: collapse;
  border: none;
  background: #333;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba($color: #f3f3f3, $alpha: 0.8);

  @include mq(sp){
    margin-top: 16px;
  }

  th,
  td{
    border-bottom: 1px solid #666;
    padding: 10px 0;

    @include mq(sp){
      padding: 8px 0;
    }
  }

  th{
    font-size: 18px;
    border-bottom: 2.5px solid #666;
    @include mq(sp){
      font-size: 12px;
    }
  }

  td{
    font-size: 16px;
    @include mq(sp){
      font-size: 10px;
    }
  }
}

.tl{
  width: 50%;
  border-right: 1px solid #666;
}

.tr{
  width: 50%;
}

.price__attention{
  margin-top: 30px;
  line-height: (22/16);
  font-size: 10px;
  @include mq(sp){
    font-size: 7px;
    margin-top: 20px;
  }
}

/* ===============================================
# contact
=============================================== */
.contact__head{
  &::after{
    background: #333;
  }
}

.contact__inner{
  padding-top: 50px;
  padding-bottom: 50px;
  @include mq(sp){
    padding-top:30px;
    padding-bottom: 30px;
  }
}


.contact__text{
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  line-height: 2em;

  @include mq(sp){
    margin-top: 28px;
    font-size: 12px;
  }
}

.contact__button{
  margin-top: 40px;
  text-align: center;

  @include mq(sp){
    margin-top: 20px;
  }
}

.contact-link{
  display: inline-block;
  font-size: 18px;
  border: 1px solid #333;
  height: 50px;
  width: 240px;
  line-height: 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba($color: #333, $alpha: 0.8);
  position: relative;
  font-weight: 600;
  transition: all 0.4s ease 0s;

  &:hover{
    border: 1px solid $key-color;
    background: $font-color;
    color: $key-color;
    box-shadow: 0px 5px 10px rgba($color: $key-color, $alpha: 0.8);

    i{
      color: $key-color;
    }
  }

  @include mq(sp){
    font-size: 12px;
    height: 35px;
    width: 160px;
    line-height: 35px;
  }

  i{
    position: absolute;
    right: 15px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    transition: color 0.4s ease 0s;

    @include mq(sp){
      font-size: 12px;
    }
  }
}

/* ===============================================
# footer
=============================================== */
.footer{
  height: 40px;
  background: #333;

  @include mq(sp){
    height: 25px;
  }
}

.copyright{
  color: #F3F3F3;
  font-size: 10px;
  letter-spacing: 0.25em;
  text-align: center;
  line-height: 40px;

  @include mq(sp){
    font-size: 8px;
    line-height: 25px;
  }
}

/* ===============================================
# sns-items
=============================================== */
.sns_container{
  position: fixed;
  background: transparent;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 100px;
  width: 50px;
  border-radius: 0 20px 20px 0;
  z-index: 30;

  @include mq(sp){
    height: 80px;
    width: 40px;
  }
}

.sns_item_link{
  display: block;
  padding: 7px 8px;
  @include mq(sp){
    padding: 4px 5px;
  }

  &:hover{
    i{
      opacity: 0.3;
    }
  }

  i{
    font-size: 35px;
    transition: opacity 0.4s ease 0s;

    @include mq(sp){
      font-size: 27px;
    }
  }

}

.twitter-icon{
  color: #7ABFD7;
  opacity: 0.7;
}

.insta-icon{
  color: #CF2E92;
  opacity: 0.7;
}


/* ===============================================
# to-top
=============================================== */
.to-top{
  position: fixed;
  right: 24px;
  bottom: 24px;
  height: 40px;
  width: 40px;
  background: $key-color;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  z-index: 30;

  &.is-show{
    opacity: 1;
    visibility: visible;  
  }

  @include mq('sp'){
    right: 12px;
    bottom: 12px;
    }

  a{
    transition: all 0.3s ease 0s;

    &:hover{
      opacity: 0.7;
    }
    i{
      position: absolute;
      font-size: 30px;
      color: #333;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      @include mq('sp'){
        font-size: 20px;
      }    
    }
  }
}

/* ===============================================
# drawer
=============================================== */
// drawer

.drawer-icon{
  position: fixed;
  top: 10px;
  right: 16px;
  z-index: 300;
  display: none;
  transition: transform 0.8s ease 0s;

  @include mq('sp'){
    display: block;
  }

  &.is-active{

    transform: translateX(-200px);

    .drawer-icon__bar1,
    .drawer-icon__bar2,
    .drawer-icon__bar3{
      background: $key-color;
    }


    .drawer-icon__bar1{
      transform: rotate(-225deg);
      top: 8px;
    }
    
    .drawer-icon__bar2{
      display: none;
    }
    
    .drawer-icon__bar3{
      transform: rotate(225deg);
      top: 8px;
    }    
  }
}

.drawer-icon__bars{
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3{
  position: absolute;
  width: 22px;
  height: 4px;
  background: $font-color;
  opacity: 0.7;
  top: 0;
  left: 0;
  transition: all 0.8s ease 0s;
}


.drawer-icon__bar1{
  top: 0;
}

.drawer-icon__bar2{
  top: 8px;
}

.drawer-icon__bar3{
  top: 16px;
}

.drawer-content{
  width: 200px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: $key-color;
  box-shadow: 0 0 3px rgba(#000, 0.16);
  z-index: 200;
  transform: translateX(105%);
  transition: transform 0.8s ease 0s;

  &.is-active{
    transform: translateX(0);
  }
}


.drawer-content__item{
  border-bottom: 1px dotted #707070;
  a{
    display: block;
    color: #707070;
    text-decoration: none;
    line-height: 1;
    padding: 20px;
    position: relative;
  }
}

.drawer_sns_items{
  display: flex;
  justify-content: center;
}

.drawer_sns_item{
  padding: 10px 7px; 

  &:not(:first-child){
    margin-left: 5px;
  }
}

.drawer_sns_item_link{
  i{
    font-size: 30px;
  }
}

.drawer-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.7);
  z-index: 150;
  display: none;

  &.is-active{
    display: block;
  }
}

/* ===============================================
# loading
=============================================== */
#splash{
  position: fixed;
  width: 100%;
  height: 100%;
  background: $font-color;
  z-index: 999;
  text-align: center;
  color: $key-color;
}

#splash-logo{
  position: absolute;
  top: calc(50% - 60px);
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
  line-height: 2em;
  letter-spacing: 0.25em;

  @include mq(sp){
    top:calc(50% - 40px);
    font-size: 22px;
  }
}

body{
  background: $font-color;

  .splashbg1,
  .splashbg2{
    display: none;
  }  
}

#container{
  opacity: 0;
}

body.appear{
  background: $key-color;

  .splashbg1,
  .splashbg2{
    display: block;
  }  

  .splashbg1{
    animation-name: PageAnime;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    content: "";
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: scaleX(1);
    background-color: $font-color;
  }

  @keyframes PageAnime{
    0% {
      transform-origin: left;
      transform: scaleX(1);
    }
    50%{
      transform-origin: right;
    }
    100%{
      transform-origin: right;
      transform: scaleX(0);
    }
  }

  .splashbg2{
    animation-name: PageAnime2;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    content: "";
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 50%;
    transform: scaleX(1);
    background-color: $font-color;
  }

  @keyframes PageAnime2{
    0% {
      transform-origin: right;
      transform: scaleX(1);
    }
    50%{
      transform-origin: left;
    }
    100%{
      transform-origin: left;
      transform: scaleX(0);
    }
  }

  #container{
    animation-name: PageAnimeAppear;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes PageAnimeAppear{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}


