@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
/* ===============================================
# ブレークポイント
=============================================== */
/* ===============================================
# color font
=============================================== */
/* ===============================================
# 全体に共通するスタイル
=============================================== */
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .is-sp {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .is-sp {
    display: none;
  }
}
body {
  font-size: 16px;
  color: #3E3E3E;
  font-family: "游ゴシック体", "Yu Gothic", sans-serif;
  line-height: 1.5;
  background: #F3F3F3;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.section-title {
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
}

.util__link {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.025;
  background: #FFAA3B;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(62, 62, 62, 0.2);
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.util__link:hover {
  background: #F18900;
}

.util__link2 {
  display: inline-block;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  height: 64px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 0.2;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .util__link2 {
    font-size: 18px;
    height: 54px;
    line-height: 54px;
  }
}

/* ===============================================
# header
=============================================== */
.header {
  font-family: "Montserrat", sans-serif;
  background: rgba(255, 255, 255, 0.1);
  height: 83px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}
@media screen and (max-width: 767px) {
  .header {
    height: 68px;
    background: #fff;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__nav li + li {
  margin-left: 40px;
}
.header__nav li a {
  display: inline-block;
  color: #3E3E3E;
  line-height: 83px;
  letter-spacing: -0.025;
  font-weight: 500;
  position: relative;
}
.header__nav li a::after {
  content: "";
  position: absolute;
  bottom: 26px;
  left: 0;
  width: 100%;
  height: 1px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.header__nav li a:hover {
  opacity: 0.7;
}
.header__nav li a:hover::after, .header__nav li a.is-active::after {
  background: #3E3E3E;
}

/* ===============================================
# drawer
=============================================== */
.drawer__logo {
  position: fixed;
  top: 0;
  left: 16px;
  z-index: 300;
  display: none;
  font-size: 23px;
  line-height: 68px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .drawer__logo {
    display: block;
  }
}
.drawer__logo.is-active {
  display: none;
}

.drawer-icon {
  position: fixed;
  top: 24px;
  right: 16px;
  z-index: 300;
  display: none;
  transition: transform 0.5s ease 0s;
}
@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}
.drawer-icon.is-active {
  transform: translateX(-300px);
}
.drawer-icon.is-active .drawer-icon__bar1 {
  transform: rotate(-45deg);
  top: 8px;
  background: #fff;
}
.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}
.drawer-icon.is-active .drawer-icon__bar3 {
  transform: rotate(45deg);
  top: 8px;
  background: #fff;
}

.drawer-icon__bars {
  width: 26px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 26px;
  height: 4px;
  background: #3E3E3E;
  top: 0;
  left: 0;
  transition: transform 0.5s ease 0s;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 300px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 200;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;
}
.drawer-content.is-active {
  transform: translateX(0);
}

.drawer-content__items {
  padding-top: 145px;
}

.drawer-content__item a {
  display: block;
  color: #3E3E3E;
  font-size: 18px;
  line-height: 1;
  padding: 16px;
  text-align: center;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 150;
  display: none;
}
.drawer-background.is-active {
  display: block;
}

/* ===============================================
# top
=============================================== */
.top {
  position: relative;
}

.top__picture {
  padding-top: 50.625%;
}
@media screen and (min-width: 1024px) {
  .top__picture {
    background: url("../img/mv.png") no-repeat center center/cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .top__picture {
    background: url("../img/mv.png") no-repeat center center/cover;
  }
}
@media screen and (max-width: 767px) {
  .top__picture {
    padding-top: 0;
    height: 599px;
    background: url("../img/mv.png") no-repeat 23% center/cover;
  }
}

.top__message {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 40px;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .top__message {
    right: 50%;
    transform: translate(50%, -50%);
    max-width: 343px;
    width: 100%;
    padding-right: 0;
  }
}

.top__message-title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.000625;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .top__message-title {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .top__message-title {
    font-size: 24px;
    letter-spacing: 0;
  }
}

.top__message-text {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.025;
  margin-top: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .top__message-text {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .top__message-text {
    font-size: 14px;
    letter-spacing: 0;
    margin-top: 24px;
  }
}

.top__button {
  margin-top: 38px;
}
@media screen and (max-width: 767px) {
  .top__button {
    margin-top: 25px;
    text-align: center;
  }
}

.top__link {
  width: 282px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .top__link {
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    width: 250px;
  }
}
@media screen and (max-width: 767px) {
  .top__link {
    width: 222px;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
  }
}

/* ===============================================
# news
=============================================== */
.news {
  padding: 120px 40px;
}
@media screen and (max-width: 767px) {
  .news {
    padding: 0;
    height: 574px;
    position: relative;
  }
}

.news__inner {
  background: #fff;
  padding: 60px 60px 40px;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}
@media screen and (max-width: 767px) {
  .news__inner {
    width: 91.4667%;
    padding: 40px 0px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.news__head {
  text-align: center;
}

.news__items {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .news__items {
    margin-top: 40px;
  }
}

.news__item {
  border-top: 1px solid #CECDCD;
}
.news__item:last-child {
  border-bottom: 1px solid #CECDCD;
}

.news__item__link {
  color: #3E3E3E;
  padding: 40px 0;
  display: flex;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.news__item__link:hover {
  background: #4973FF1A;
}
@media screen and (max-width: 767px) {
  .news__item__link {
    display: block;
    padding: 10px 16px;
  }
}

.news__meta {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .news__meta {
    width: 260px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .news__meta {
    width: 260px;
  }
}

.news__date {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.025;
}
@media screen and (min-width: 1024px) {
  .news__date {
    width: 100px;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .news__date {
    width: 100px;
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .news__date {
    font-size: 14px;
  }
}

.news__label {
  width: 120px;
  margin-left: 40px;
  font-size: 14px;
  letter-spacing: 0.25;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  line-height: 30px;
  text-align: center;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .news__label {
    font-size: 12px;
    margin-left: 24px;
    width: 80px;
    line-height: 20px;
  }
}

.news__body {
  width: calc(100% - 260px);
  padding-left: 40px;
  padding-right: 84px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .news__body {
    width: 100%;
    padding-left: 0;
    padding-right: 42px;
    margin-top: 12px;
  }
}
.news__body::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 23.5px;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/news-arrow.png") no-repeat center center/contain;
}
@media screen and (max-width: 767px) {
  .news__body::after {
    width: 12px;
    height: 20.143px;
    right: 0;
  }
}

.news__text {
  letter-spacing: 0.025;
  font-weight: 500;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .news__text {
    font-size: 14px;
  }
}

.news__button {
  margin-top: 40px;
  text-align: center;
}

.news__link {
  color: #3E3E3E;
  border: 1px solid #707070;
  background: #fff;
  width: 235px;
}
.news__link:hover {
  color: #fff;
  border: 1px solid #ffff;
  background: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .news__link {
    width: 268px;
  }
}

/* ===============================================
# service
=============================================== */
.service {
  padding: 60px 40px 120px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .service {
    padding: 40px 16px 60px;
  }
}

.service__head {
  color: #fff;
  text-align: center;
  z-index: 50;
  position: relative;
}

.service__items {
  background: #fff;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
  z-index: 50;
  position: relative;
}
@media screen and (max-width: 767px) {
  .service__items {
    display: block;
    padding: 40px 16px;
    max-width: 345px;
  }
}

.service__item {
  padding: 0 4.6875%;
}
@media screen and (max-width: 767px) {
  .service__item {
    padding: 0;
  }
  .service__item + .service__item {
    margin-top: 40px;
  }
}

.service__img {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__img img {
  width: 50px;
}

.service__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2;
  line-height: 1.4;
  margin-top: 5px;
}

.service__text {
  font-size: 14px;
  line-height: 1.71429;
  margin-top: 15px;
  font-weight: 500;
}

.service__background {
  background: #3E3E3E;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}
@media screen and (max-width: 767px) {
  .service__background {
    height: 480px;
  }
}

.results {
  margin-left: 40px;
  background: #3E3E3E;
  padding: 60px;
}
@media screen and (max-width: 767px) {
  .results {
    margin: 0;
    padding: 40px 16px;
  }
}

.results__head {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .results__head {
    text-align: center;
  }
}

.results__slides {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .results__slides {
    margin-top: 40px;
  }
}

.results__slide {
  width: 400px;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .results__slide {
    width: 274px;
  }
}
.results__slide + .results__slide {
  margin-left: 40px;
}
@media screen and (max-width: 767px) {
  .results__slide + .results__slide {
    margin-left: 20px;
  }
}

.slide__img img {
  pointer-events: none;
}

.slide__container {
  padding: 16px;
}
@media screen and (max-width: 767px) {
  .slide__container {
    padding: 12px;
  }
}

.slide__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.00071429;
}
@media screen and (max-width: 767px) {
  .slide__title {
    font-size: 14px;
  }
}

.slide__text {
  font-weight: 500;
  margin-top: 16px;
  letter-spacing: 0.00071429;
}
@media screen and (max-width: 767px) {
  .slide__text {
    font-size: 12px;
    margin-top: 12px;
  }
}

.flickity-page-dots {
  -moz-text-align-last: left;
       text-align-last: left;
  bottom: -60px;
}
@media screen and (max-width: 767px) {
  .flickity-page-dots {
    -moz-text-align-last: center;
         text-align-last: center;
    bottom: -44px;
  }
}
.flickity-page-dots .dot {
  background: #fff;
  opacity: 1;
  position: relative;
}
.flickity-page-dots .dot::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.flickity-page-dots .dot.is-selected::after {
  opacity: 1;
}

.results__button {
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .results__button {
    margin-top: 68px;
    text-align: center;
  }
}

.results__link {
  color: #fff;
  border: 1px solid #ffff;
  background: #3E3E3E;
  width: 290px;
  transition: all 0.3s ease 0s;
}
.results__link:hover {
  border: 1px solid #707070;
  background: #fff;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .results__link {
    width: 315px;
  }
}

/* ===============================================
# price
=============================================== */
.price {
  padding: 120px 40px;
}
@media screen and (max-width: 767px) {
  .price {
    padding: 40px 16px 60px;
  }
}

.price__head {
  text-align: center;
}

.price__table {
  max-width: 960px;
  margin: 60px auto 0;
}
@media screen and (max-width: 767px) {
  .price__table {
    margin-top: 40px;
    max-width: 400px;
  }
}

.table {
  width: 100%;
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  width: 100%;
  table-layout: fixed;
}
.table th,
.table td {
  border: 1px solid #707070;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  height: 60px;
  padding: 0 40px;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .table th,
.table td {
    height: 56px;
    padding: 0 20px;
    font-size: 20px;
  }
}
.table th {
  background: #3E3E3E;
  color: #fff;
  text-align: center;
}
.table th:nth-child(1) {
  width: 262px;
}
@media screen and (max-width: 767px) {
  .table th:nth-child(1) {
    width: 100px;
  }
}

.price__attention {
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  margin-top: 12px;
}

/* ===============================================
# comments
=============================================== */
.comments {
  padding: 0 40px 120px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .comments {
    padding: 0 16px 60px;
  }
}

.comments__container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .comments__container {
    display: block;
    max-width: 400px;
  }
}

.comments__left {
  flex: 0 0 55.5%;
  background: #fff;
  padding: 120px 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .comments__left {
    padding: 60px 30px;
  }
}
@media screen and (max-width: 767px) {
  .comments__left {
    padding: 40px 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .comments__head {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .comments__head {
    font-size: 30px;
  }
}

.comments__items {
  margin-top: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .comments__items {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .comments__items {
    margin-top: 40px;
  }
}

.comments__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .comments__item {
    align-items: flex-start;
  }
}
.comments__item + .comments__item {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .comments__item + .comments__item {
    margin-top: 40px;
  }
}

.comments__img {
  width: 100px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .comments__img {
    width: 70px;
  }
}
@media screen and (max-width: 767px) {
  .comments__img {
    width: 60px;
  }
}

.comments__text {
  width: calc(100% - 100px);
  font-weight: 500;
  padding-left: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .comments__text {
    width: calc(100% - 70px);
    padding-left: 25px;
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .comments__text {
    width: calc(100% - 60px);
    padding-left: 20px;
    font-size: 14px;
  }
}

.comments__right {
  flex: 0 1 45.5%;
}

.comments__background {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 79.558%;
  width: 76.5625%;
  background: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .comments__background {
    height: 87.6416%;
    width: 100%;
  }
}

/* ===============================================
# qa
=============================================== */
.qa {
  padding: 60px 40px 120px;
  background: url("../img/qa-bg.png") no-repeat center center/cover;
  background-attachment: fixed;
}
@media screen and (max-width: 767px) {
  .qa {
    padding: 40px 16px 60px;
  }
}

.qa__head {
  text-align: center;
}

.qa__items {
  width: 612px;
  margin-left: auto;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .qa__items {
    margin: 40px auto 0;
    max-width: 100%;
    width: 500px;
  }
}

.qa__item:nth-child(n+2) {
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .qa__item:nth-child(n+2) {
    margin-top: 24px;
  }
}

.qa-box {
  border-radius: 4px;
  background: #fff;
  padding: 0 16px 16px;
}

.qa-box__q {
  font-weight: 700;
  letter-spacing: 0.025;
  position: relative;
  padding-left: 40px;
  padding-top: 16px;
  line-height: 16px;
}
.qa-box__q::before {
  font-family: "Montserrat", sans-serif;
  content: "";
  position: absolute;
  background: #3B69FF;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 12px;
  left: 0;
  text-align: center;
}
.qa-box__q::after {
  font-family: "Montserrat", sans-serif;
  content: "Q";
  position: absolute;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 16px;
  left: 0;
  text-align: center;
}

.qa-box__icon {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 16px;
}
.qa-box__icon.is-open .qa-box__bar2 {
  transform: rotate(90deg);
}

.qa-box__bar1 {
  height: 3px;
  width: 15px;
  background: #3B69FF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.qa-box__bar2 {
  height: 15px;
  width: 3px;
  background: #3B69FF;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease 0s;
}

.qa-box__a {
  background: #3B69FF33;
  border-radius: 4px;
  padding: 16px;
  margin-top: 16px;
}
@media screen and (max-width: 767px) {
  .qa-box__a {
    padding: 10px;
    margin-top: 10px;
  }
}

.qa-box__content {
  font-weight: 500;
}

/* ===============================================
# access
=============================================== */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .access {
    padding: 120px 0 80px 120px;
    position: relative;
  }
  .access::before {
    content: "";
    position: absolute;
    background: #3E3E3E;
    top: 0;
    left: 0;
    width: 76.56vw;
    bottom: 256px;
  }
}
@media screen and (min-width: 1024px) {
  .access {
    padding: 120px 0 80px 120px;
    position: relative;
  }
  .access::before {
    content: "";
    position: absolute;
    background: #3E3E3E;
    top: 0;
    left: 0;
    width: 76.56vw;
    bottom: 256px;
  }
}
@media screen and (max-width: 767px) {
  .access {
    padding: 40px 16px 60px;
    background: #3E3E3E;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .access__inner {
    position: relative;
    z-index: 1;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 414px 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 414px 1fr;
    -ms-grid-rows: auto 1fr;
    max-width: 1140px;
  }
}
@media screen and (min-width: 1024px) {
  .access__inner {
    position: relative;
    z-index: 1;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 414px 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 414px 1fr;
    -ms-grid-rows: auto 1fr;
    max-width: 1140px;
  }
}
@media screen and (max-width: 767px) {
  .access__inner {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .access__text {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
}
@media screen and (min-width: 1024px) {
  .access__text {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
}

.access__head {
  color: #fff;
}

.access__adress {
  color: #fff;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .access__adress {
    font-size: 14px;
    line-height: 1.4285714286;
    margin-top: 38px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .access__map {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/3/3;
    height: 520px;
  }
}
@media screen and (min-width: 1024px) {
  .access__map {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/3/3;
    height: 520px;
  }
}
@media screen and (max-width: 767px) {
  .access__map {
    margin-top: 22px;
    height: 70.26vw;
  }
}
.access__map iframe {
  height: 100%;
  width: 100%;
}

.access__button {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .access__button {
    margin-top: 24px;
    text-align: center;
  }
}

.access__link {
  color: #fff;
  border: 1px solid #ffff;
  background: #3E3E3E;
  width: 314px;
  transition: all 0.3s ease 0s;
}
.access__link:hover {
  border: 1px solid #707070;
  background: #fff;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .access__link {
    width: 340px;
  }
}

/* ===============================================
# contact
=============================================== */
.contact {
  background: url("../img/contact-bg.png") no-repeat center center/cover;
  padding: 60px 40px;
}
@media screen and (max-width: 767px) {
  .contact {
    padding: 40px 16px;
  }
}

.contact__container {
  box-sizing: content-box;
  max-width: 960px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .contact__container {
    max-width: 600px;
  }
}

.contactform__top {
  border-radius: 12px 12px 0 0;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background: url("../img/contact1.png") no-repeat center center/cover;
}
@media screen and (max-width: 767px) {
  .contactform__top {
    padding: 40px 16px;
  }
}

.contact__head {
  color: #fff;
}

.contact__text {
  color: #fff;
  font-weight: 500;
  margin-top: 12px;
}
@media screen and (max-width: 767px) {
  .contact__text {
    font-size: 14px;
    text-align: left;
  }
}

.contact__form {
  background: #fff;
  padding: 60px 120px;
  border-radius: 0 0 12px 12px;
}
@media screen and (max-width: 767px) {
  .contact__form {
    padding: 40px 12px;
  }
}

.contact__form__row {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .contact__form__row {
    display: block;
  }
}
.contact__form__row:not(:first-child) {
  margin-top: 32px;
}

.contact__form__label {
  width: 188px;
  padding: 4px 0 0;
  margin: 0;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .contact__form__label {
    padding: 0;
  }
}
.contact__form__label label.is-required {
  display: inline-block;
  position: relative;
  padding-right: 52px;
}
@media screen and (max-width: 767px) {
  .contact__form__label label.is-required {
    padding-right: 60px;
  }
}
.contact__form__label label.is-required::after {
  content: "必須";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-weight: 700;
  color: #fff;
  background: #FF4646;
  border-radius: 4px;
  text-align: center;
  line-height: 1;
  padding: 2px 8px;
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .contact__form__label label.is-required::after {
    border-radius: 2px;
  }
}

.contact__form__input {
  width: calc(100% - 188px);
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .contact__form__input {
    width: 100%;
    margin-top: 15px;
  }
}
.contact__form__input select {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff url(../img/contact-arrow.png) no-repeat right 19px center/12px 7px;
  padding: 12px 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: #3E3E3E;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  width: 180px;
}
@media screen and (max-width: 767px) {
  .contact__form__input select {
    font-size: 14px;
    width: 320px;
    max-width: 100%;
  }
}
.contact__form__input [type=text] {
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.5);
  background: #fff;
  padding: 8px 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: #3E3E3E;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .contact__form__input [type=text] {
    font-size: 14px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5px;
  }
}
.contact__form__input [type=email] {
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.5);
  background: #fff;
  padding: 8px 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: #3E3E3E;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .contact__form__input [type=email] {
    font-size: 14px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5px;
  }
}
.contact__form__input [type=radio] {
  display: none;
}
.contact__form__input [type=radio]:checked + span::after {
  display: block;
}

.radio-text {
  display: inline-block;
  padding-left: 20px;
  position: relative;
  margin-right: 40px;
  font-weight: 500;
}
.radio-text::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1px solid #707070;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #fff;
}
.radio-text::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #3B69FF;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}

.contact__form__message {
  margin-top: 32px;
}

.contact__message__input {
  margin-top: 4px;
}
@media screen and (max-width: 767px) {
  .contact__message__input {
    margin-top: 16px;
  }
}
.contact__message__input textarea {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  height: 200px;
  resize: none;
}
@media screen and (max-width: 767px) {
  .contact__message__input textarea {
    font-size: 14px;
    padding: 14px;
    height: 160px;
  }
}

.contact__form__check {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .contact__form__check {
    margin-top: 32px;
    font-size: 16px;
  }
}
.contact__form__check [type=checkbox]:checked + span::after {
  display: block;
}

.contact__privacy__input {
  display: none;
}

.contact__privacy__part {
  display: inline-block;
  padding-left: 40px;
  position: relative;
}
.contact__privacy__part::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #707070;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.contact__privacy__part::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: transparent url("../img/checkbox.png") no-repeat center center/contain;
  display: none;
}

.contact__form__button {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .contact__form__button {
    text-align: center;
    margin-top: 33px;
  }
}
.contact__form__button [type=submit] {
  background: #FFAA3B;
  display: inline-block;
  width: 173px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.025;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.contact__form__button [type=submit]:hover {
  background: #F18900;
}
@media screen and (max-width: 767px) {
  .contact__form__button [type=submit] {
    width: 165px;
    height: 48px;
    font-size: 16px;
  }
}

/* ===============================================
# footer
=============================================== */
.footer {
  padding: 60px 160px 48px;
  background: #3E3E3E;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 60px 0;
  }
}

.footer__container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__container {
    display: block;
  }
}

.footer__left {
  width: calc(100% - 278px);
}
@media screen and (max-width: 767px) {
  .footer__left {
    width: 100%;
  }
}

.footer__sns__items {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__sns__items {
    justify-content: center;
  }
}

.footer__sns__item + .footer__sns__item {
  margin-left: 32px;
}
@media screen and (max-width: 767px) {
  .footer__sns__item + .footer__sns__item {
    margin-left: 50px;
  }
}

.footer__sns__link {
  color: #fff;
  font-size: 36px;
  opacity: 0.6;
  transition: opacity 0.3s ease 0s;
}
.footer__sns__link:hover {
  opacity: 0.3;
}

.footer__nav__list {
  margin-top: 28px;
}

@media screen and (max-width: 767px) {
  .footer__nav__item {
    text-align: center;
  }
}

.footer__nav__item__link {
  color: #fff;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 170px;
  line-height: 1;
  letter-spacing: 0.025;
  opacity: 0.6;
  transition: opacity 0.3s ease 0s;
}
.footer__nav__item__link:hover {
  opacity: 0.3;
}
@media screen and (max-width: 767px) {
  .footer__nav__item__link {
    font-size: 14px;
    padding: 1em 0.5em;
    text-align: center;
  }
}

.footer__right {
  width: 278px;
}
@media screen and (max-width: 767px) {
  .footer__right {
    width: 100%;
    text-align: center;
  }
}

.company__logo {
  font-size: 40px;
  line-height: 1.925;
  font-weight: 700;
  color: #E3E3E3;
}
@media screen and (max-width: 767px) {
  .company__logo {
    font-size: 32px;
    line-height: 1;
    margin-top: 26px;
  }
}

.footer__copyright {
  letter-spacing: 0.025;
  font-size: 12px;
  line-height: 1.25;
  text-align: right;
  color: #E3E3E3;
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    text-align: center;
    margin-top: 12px;
  }
}

/* ===============================================
# to-top
=============================================== */
.to-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  z-index: 100;
}
.to-top.is-show {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 767px) {
  .to-top {
    right: 16px;
    bottom: 13px;
  }
}
.to-top a {
  transition: all 0.3s ease 0s;
}
.to-top a:hover {
  opacity: 0.7;
}
.to-top a img {
  width: 50px;
}